* {
  box-sizing: border-box;
  
 
}


td {
  padding: 20px;

}
  table{ font-size: 40px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin: 50px;
}
  th:first-child {background: #7887ab;
    
  }
 
  th:nth-child(2){background:#4f628e}
  
  th:nth-child(3){background:#2e4172}
  
  th:nth-child(4){background:#162955}
  
  th:nth-child(5){background:#061539}
  
  thead{color: white;}
  
  tr:nth-child(odd) > td:nth-child(odd) {
    background: #dbdbdb;
  }	
   
  tr:nth-child(even) > td:nth-child(odd) {
    background: #ececec;
  }
  
  tr:nth-child(odd) > td:nth-child(even) {
    background:#e7e7e7;
  }	
  tr:nth-child(even) > td:nth-child(even){
    background:#fff;
  }
 
  th{padding: 40px;}
  
 p:nth-child(2n){font-size: 60px;
}


  
 
  